@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
:root{
    --orange:#f9713d;
    --red:#eb3750;
    --grey:#252429;
}
*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif!important;
    overflow-x: hidden;
    background-color: var(--grey)!important;
}
nav{
    display: flex;
    background-color: black;
    justify-content: space-between;
    padding: 5px;
    position: sticky;
    top:0;
    z-index:999;
}
.navbars{
    display: flex;
    justify-content: center;

}
.navbars li{
    list-style-type: none;
    padding: 20px;
}

.navbars li a{
    text-decoration: none;
    color: white;
}
.navbars li a:hover{
    color: var(--red);
}
.navbars .active{
    color: var(--red);
}

#logo{
 height:80px;
 width:auto; 
 border-radius: 50%;

}

footer{
    text-align: center;
    background-color: black;
    color:white;
    padding: 20px;
}
footer i{
    font-size: 50px!important;
    margin: 20px 10px 10px 10px;
}
footer a{
    color: gray;
}
#home_welcome{
    height:  100vh;
    color: white;
    text-align: center;
    padding: 30px;
}
/*scrollbar changes*/
::selection {
    background-color: grey;
  }
::-webkit-scrollbar {
        width: 10px;
        background-color: darkslategrey;
    }
    ::-webkit-scrollbar-thumb {
        background-color:#eb3750;
      }
#home_about{
    background-color: white;
    text-align: justify;
    padding:5%
}
.home_illus{
    width:95%;
}
#hackclub{
    font-size:10em;
    color:var(--red);
    font-family:  'Londrina Outline', cursive;
    font-weight: bold;
}
#home_rait{
    text-align: justify;
    padding:5%;
    color: white;
}
#home_vision{
    text-align: center;
    padding:5%;
    background-color: white;
}
.team{
    text-align: center;
}
.team img{
    width:auto;
    height: 200px;
    border-radius: 10px;
    margin: 10px;
}
/* updated footer code begins from here  */
.footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.footerHeading1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footerHeading1 img{
    height: 60px;
    width: auto;
    border-radius: 100%;
}
.column1{
    width: 50%;
}
.column2{
    width: 50%;
}
.footerLinks{
    display: flex;
    align-items: center;
    justify-content: center;
}
.g1,.g2{
    width: 15%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.g1 a{
    margin-bottom: 5px;
    text-align: left;
}
.g2 a{
    margin-bottom: 5px;
    text-align: left;
}
/* Reposive footer code begins from here  */
@media(max-width:1200px){
    .g1,.g2{
        width: 25%;
    }
}
@media(max-width:830px){
    .column1,.column2{
        width: 100%;
        margin-bottom: 10px;
    }
    .contactLink{
        width: 60%;
        display: flex;
        justify-content: space-around;
        margin: 5px auto;
    }
    .contactIcon{
        height: 15px;
        width: 20px;
    }
    .g1,.g2{
        width: 20%;
    }
}
@media(max-width:600px){
    .contactLink{
        width: 70%;
    }
    .g1,.g2{
        width: 25%;
    }
}
@media(max-width:450px){
    .g1,.g2{
        width: 33%;
    }
}
/* updated footer ends here  */
.team .row{
    justify-content: space-evenly;
}
#team_img{
    box-shadow: 1px 2px 4px 0px var(--red);
    margin: 20px;
    justify-content: center;
    text-align: center;
    background-color: white;
}
#team_img span{
    display: grid;
    grid-gap: 10px;
    position: absolute;
    top: 0px;
    left: 100%;
    background-color: var(--orange);
    padding: 10px;
}
#team_img i{
    font-size: 20px;
    color:var(--grey);
}
#contributor{
    padding: 30px;
}
#contributor img{
    height:200px;
    width: auto;
    border-radius: 50%;
    margin: 5px;
}
#project_section .row{
    width: 100vw;
}
#projects{
    background-color: white;
    color:black;
    margin:40px;
    padding:20px;
    text-align:center;
    height:auto
}
#projects ul{
    list-style: none;
    display: flex;
    text-align: center;
}
#projects ul li{
    margin: 10px;
    padding:10px;
    background-color: var(--orange);
    color:white
}
.owner{
    text-decoration: none
}
#opp_card{
    background-color: white;
    text-align: center;
    margin: 50px;
    padding:20px;
    border-radius: 10px;
}
#contact_us{
    margin: 50px;
    text-align: center;
}
#contact_form form{
    display: grid;
    grid-gap:20px;
    margin: 30px;
}
#contact_form a{
    color: gray;
    font-size: 50px;
    margin:20px
}
@media (max-width: 768px) {
    html {
        overflow-x: hidden;
    }
    #team_img{
        width: fit-content;
    }
}